[submodule "SensorsCalibration"]
	path = SensorsCalibration
	url = https://github.com/PJLab-ADG/SensorsCalibration
[submodule "segment-anything"]
	path = segment-anything
	url = https://github.com/facebookresearch/segment-anything
[submodule "PyGPSClient"]
	path = PyGPSClient
	url = https://github.com/semuconsulting/PyGPSClient.git
